
@using Planetc.Models
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="~/css/store.css" />
<link rel="stylesheet" href="~/css/tabs.css" />
<style>
    body {
        /* Margin bottom by footer height */
        margin-bottom: 60px;
        background-image: url("/img/eventplanner.jpeg");
        background-position: top;
        
    }
</style>

<div>
    <h1>Event Planning</h1>

    <div class="container wrapper">
        <div class="row">
            <div class="col checklist" id="dvlefttasks">
                <h3>Checklist</h3>
                <ul id="lstchecklist">

                </ul>
            </div>
            <div class="col checklist" id="dvrighttasks">
                <h3>Tasks Completed</h3>
                <ul id="lstselectedtasks"></ul>
            </div>
        </div>
    </div>

    <div class="container wrapper tall">
        <div class="row">
            <div class="col-xl store" id="dvleft">
                <h3 class="display-9">What you may need:</h3>
                <div id="lstproducts">
                    @foreach (Product item in @ViewBag.Products)
                    {
                    <div class='product sideByside' name="@item.ProductId"  draggable='true'>
                        <img class="productImage" src="@item.ImageFileName" alt="">
                        <div  class="lead">@item.ProductName:</div>
                        <div class="small">@item.Description</div>
                    </div>
                    }
                </div>
            </div>
            <div class="col-3 cart" id="dvright">
                <h3 class="centered">Shopping List</h3>
                <ul id="lstselectedproducts"></ul>
                <form asp-action="PlaceOrder" method="">
                        <input id="Cart" type="hidden" value="">
                        <input type="submit" value="Add to Checklist">
                </form>
            </div>
        </div>
    </div>

    
<script type="text/javascript">
    $(document).ready(function () {
        //Function to set events for Drag-Drop
        loadProducts();

        function setEvents() {
            var lstProducts = $('li');
            //Set Drag on Each 'li' in the list 
                $.each(lstProducts, function (idx, val) {
                    $("[draggable]").on('dragstart', function (evt) {
                        evt.originalEvent.dataTransfer.setData("Text", evt.target.textContent);
                        evt.target.draggable = false;
                    });
                });
               
            //Set the Drop on the <div>
                $("#dvright").on('drop', function (evt) {
                    evt.preventDefault();
                    var data = evt.originalEvent.dataTransfer.getData("Text");
                    var ss = evt.originalEvent.dataTransfer.getData("Text");
                    var lst = $("#lstselectedproducts");
                    var li = "<li class='small'>" + data+"</li>";
                    li.textContent = data;
                    lst.append(li);
                });
 
            //The dragover
                $("#dvright").on('dragover', function (evt) {
                    evt.preventDefault();
                });
        }
               ///Function to load products using call to WEB API
        function loadProducts() {
            var items="";
            items = $("[draggable]");
            console.log(items.concat);
            $("#lstproducts").html(items);
                setEvents();
        }
    });
</script>
